{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
   {% for register in  movies %}
  <div class="card" >
    <div class="front" style="background-image: url('{{register.img_url}}');">
        <p class="large">{{register.id}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{register.title}} <span class="release_date">({{register.year}})</span></div>
        <div class="rating">
            <label>{{register.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">{{register.review}}</p>
        <p class="overview">
            {{register.description}}
        </p>

        <a href="{{url_for('rate_movie', id=register.id)}}" class="button">Update</a>
        <a href="{{url_for('delete', id=register.id)}}" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container text-center add">
<a href="{{url_for('add_movie')}}" class="button">Add Movie</a>
</div>

{% endblock %}